<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>GLF_TrabajoIntegral</display-name>
	<servlet>
		<description>Envia una lista de Entidades en formato JSON</description>
		<display-name>Enlistador</display-name>
		<servlet-name>Enlistador</servlet-name>
		<servlet-class>servlets.Enlistador</servlet-class>
	</servlet>
	<servlet>
		<description>Recibe un archivo del usuario</description>
		<display-name>FileUploader</display-name>
		<servlet-name>FileUploader</servlet-name>
		<servlet-class>servlets.FileUploader</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>registroCamiones</display-name>
		<servlet-name>registroCamiones</servlet-name>
		<servlet-class>servlets.RegistroCamiones</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileCleaner</display-name>
		<servlet-name>FileCleaner</servlet-name>
		<servlet-class>servlets.FileCleaner</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AsignarProducto</display-name>
		<servlet-name>AsignarProducto</servlet-name>
		<servlet-class>servlets.AsignarProducto</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Resultado</display-name>
		<servlet-name>Resultado</servlet-name>
		<servlet-class>servlets.Resultado</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Enlistador</servlet-name>
		<url-pattern>/Enlistador</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploader</servlet-name>
		<url-pattern>/FileUploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registroCamiones</servlet-name>
		<url-pattern>/registroCamiones</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileCleaner</servlet-name>
		<url-pattern>/FileCleaner</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AsignarProducto</servlet-name>
		<url-pattern>/AsignarProducto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resultado</servlet-name>
		<url-pattern>/Resultado</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
